/*

                    ,`,`,`,`,
. . . .               `\`\`\`\;
`\`\`\`\`,            ~|;!;!;\!
 ~\;\;\;\|\          (--,!!!~`!       .
(--,\\\===~\         (--,|||~`!     ./
 (--,\\\===~\         `,-,~,=,:. _,//
  (--,\\\==~`\        ~-=~-.---|\;/J,
   (--,\\\((```==.    ~'`~/       a |
     (-,.\\('('(`\\.  ~'=~|     \_.  \
        (,--(,(,(,'\\. ~'=|       \\_;>
          (,-( ,(,(,;\\ ~=/        \
          (,-/ (.(.(,;\\,/          )
           (,--/,;,;,;,\\         ./------.
             (==,-;-'`;'         /_,----`. \
     ,.--_,__.-'                    `--.  ` \
    (='~-_,--/        ,       ,!,___--. \  \_)
   (-/~(     |         \   ,_-         | ) /_|
   (~/((\    )\._,      |-'         _,/ /
    \\))))  /   ./~.    |           \_\;
 ,__/////  /   /    )  /
  '===~'   |  |    (, <.
           / /       \. \
         _/ /          \_\
        /_!/            >_\

*/

@import "./reset.css";

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  font-family: freight-big-pro, "Times New Roman", Times, serif;
  background-color: #ffd0d0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

body {
  width: 100%;
  height: 100%;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

main {
  overflow: hidden;
}

/* NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV  */
/* NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV  */
/* NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV  */

nav {
  display: flex;
  width: 100%;
  height: 66px;
  padding: 0px 28px;
  overflow: hidden;
}

nav .wrapper {
  display: flex;
  width: 100%;
  height: auto;
  padding: 11px 0 0;
  font-family: freight-text-pro, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  border-bottom: solid 1px #9879b0;
}

nav .wrapper > *:first-child {
  min-width: 212px;
}

nav .wrapper span:last-of-type {
  font-style: italic;
}

nav .wrapper ul {
  display: flex;
  font-style: italic;
  flex-grow: 1;
}

nav .wrapper ul li {
  padding: 0 11px 0 0;
}

nav .wrapper button {
  font-family: freight-text-pro, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 14px;
  font-style: italic;
  background-color: transparent;
  border: none;
  padding: 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

nav .wrapper ul.mobile-menu {
  display: none;
  font-style: italic;
  flex-grow: 1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-color: #ffd0d0;
  text-transform: capitalize;
  padding: 36px 12px 0;
  transform: translateY(-100%) translateZ(0px);
}

nav .wrapper ul.mobile-menu li {
  border-bottom: 1px solid #9879b0;
}

nav .wrapper ul.mobile-menu li button {
  font-family: freight-big-pro, "Times New Roman", Times, serif;
  font-size: 66px;
  line-height: 77px;
  font-style: normal;
  background-color: transparent;
  border: none;
  padding: 0;
  text-decoration: none;
  display: block;
  cursor: pointer;
  text-transform: capitalize;
}

nav .wrapper button.mobile-menu-btn {
  display: none;
}

nav .wrapper button.mobile-menu-btn span {
  position: relative;
  font-family: "freight-big-pro", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 20px;
  padding: 0 0 10px;
  color: #000000;
}

nav .wrapper a {
  font-size: 14px;
  line-height: 14px;
}

nav .wrapper ul li button:hover {
  text-decoration: underline;
}

nav .wrapper ul li button:focus {
  text-decoration: underline;
}

nav .wrapper .about button {
  font-style: normal;
}

nav .wrapper button:focus {
  outline: 0px;
}

/* PROJECT NAV PROJECT NAV PROJECT NAV PROJECT NAV PROJECT NAV PROJECT NAV PROJECT NAV */
/* PROJECT NAV PROJECT NAV PROJECT NAV PROJECT NAV PROJECT NAV PROJECT NAV PROJECT NAV */
/* PROJECT NAV PROJECT NAV PROJECT NAV PROJECT NAV PROJECT NAV PROJECT NAV PROJECT NAV */
/* PROJECT NAV PROJECT NAV PROJECT NAV PROJECT NAV PROJECT NAV PROJECT NAV PROJECT NAV */

nav.project .wrapper {
  line-height: 28px;
}

nav.project .wrapper > *:first-child {
  align-self: flex-end;
}

nav.project .wrapper span:last-of-type {
  align-self: flex-end;
  padding: 0 0 10px;
}

nav.project .wrapper h2 {
  font-family: "freight-big-pro", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 37px;
  line-height: 43px;
  color: #393939;
  flex-grow: 1;
  /* min-width: 100%; */
  align-self: flex-end;
}

/* CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER */
/* CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER */
/* CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER */

.container {
  width: 100%;
  height: 100%;
  padding: 0 28px;
  position: relative;
}

.container .feature-image-overlay {
  position: fixed;
  bottom: 25px;
  right: 25px;
  max-height: 504px;
  height: 100%;
  width: auto;
  z-index: 2;
  filter: drop-shadow(-6px 6px 4px rgba(0, 0, 0, 0.25));
  pointer-events: none;
}

.container .feature-image-overlay img {
  height: 100%;
  width: auto;
}

.container ul li {
  display: flex;
  border-bottom: solid 1px #9879b0;
  position: relative;
  overflow: hidden;
}

.container ul li .inner-image-wrap {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container ul li .inner-image-wrap::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

.container ul li p {
  font-family: freight-text-pro, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 14px;
  line-height: 14px;
  min-width: 200px;
  white-space: nowrap;
}

.container ul li h2 {
  font-size: 57px;
  line-height: 56px;
  padding: 2px 0 5px;
  white-space: nowrap;
}

.container ul li .inner-info-wrap {
  padding: 10px 0 0;
}

.container ul li .inner-info-wrap h2 {
  font-family: freight-text-pro, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 14px;
  padding: 10px 0 0;
  white-space: nowrap;
}

.container ul li .wrapper {
  height: 189px;
  width: auto;
  padding: 15px 11px 15px 0;
}

.container ul li .wrapper img {
  height: 100%;
  width: auto;
}

/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */
/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */
/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */
/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */
/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */
/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */

@media only screen and (max-width: 844px) {
  .container {
    width: 100%;
    height: 100%;
    padding: 36px 0 0 12px;
    position: relative;
  }

  .container ul li {
    display: block;
    border-bottom: solid 1px #9879b0;
    position: relative;
    /* overflow: hidden; */
  }

  .container ul li .wrapper {
    height: 246px;
    width: auto;
    padding: 7px 11px 15px 0;
  }

  .container ul li p {
    font-family: freight-text-pro, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 12px;
    line-height: 12px;
    min-width: 200px;
    padding: 4px 0 0;
    white-space: nowrap;
  }

  .container ul li:first-of-type p {
    padding: 8px 0 0;
  }

  .container ul li .inner-info-wrap h2 {
    font-family: freight-text-pro, "Times New Roman", Times, serif;
    font-size: 23px;
    line-height: 23px;
    padding: 4px 0 0;
    white-space: nowrap;
  }

  nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 36px;
    padding: 0px 12px;
    overflow: hidden;
    z-index: 99;
    background-color: #ffd0d0;
  }

  nav .wrapper {
    background-color: #ffd0d0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  nav .wrapper > *:first-child {
    min-width: 212px;
    flex-grow: 1;
  }

  nav .wrapper .about button {
    font-size: 12px;
    line-height: 12px;
    font-style: normal;
  }

  nav .wrapper ul {
    display: none;
  }

  nav .wrapper ul.mobile-menu {
    display: block;
  }

  nav .wrapper button.mobile-menu-btn {
    display: block;
  }

  nav .wrapper a {
    display: none;
  }
}
