.project-bg-wrap {
  width: 100%;
  height: 100%;
}

.project-container {
  width: 100%;
  height: calc(100vh - 66px);
  display: flex;
  font-family: freight-text-pro, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19.5px;
  color: #000000;
  padding: 30px 28px 0;
  margin: 0;
  overscroll-behavior-y: none;
}

.project-container .project-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 213px;
  padding: 0 20px 0 0;
  height: 93%;
  max-height: 813px;
}

.project-container .project-description .project-paginator {
  display: flex;
  width: 142px;
  justify-content: space-between;
  align-items: center;
}

.project-container .project-description .project-paginator > span {
  padding: 20px 0 0;
}

.project-container .project-description .project-paginator > a:first-of-type {
  padding: 20px 30px 0 0;
}
.project-container .project-description .project-paginator > a:last-of-type {
  padding: 20px 0 0 30px;
}

.swiper-slide {
  display: block;
  width: auto !important;
  flex: 0 0 auto;
}

/* .swiper-slide > * {
  height: 93%;
  max-height: 813px;
  width: auto;
} */

.swiper-slide .wrapper {
  display: block;
  width: auto;
  height: 93%;
  max-height: 813px;
}

.swiper-slide .wrapper > * {
  height: 100%;
  width: auto;
}

/* .swiper-slide .wrapper picture {
  display: block;
  width: auto;
  height: 100%;
}

.swiper-slide .wrapper img {
  height: 100%;
  width: auto;
}

.swiper-slide .wrapper img.lazy-placeholder {
  opacity: 0;
} */

.swiper-slide figcaption {
  display: block;
  margin: 7px 0 0;
  max-width: 100%;
}

.swiper-slide.next-link {
  display: flex;
  height: 93%;
  max-height: 813px;
}

.swiper-slide a {
  display: block;
  white-space: nowrap;
  align-self: center;
  text-align: center;
  width: 197px;
  font-size: 14px;
  line-height: 14px;
}

.swiper-slide a span {
  display: inline-block;
  width: 4px;
}

@media only screen and (max-height: 846px) {
  .swiper-slide .wrapper,
  .swiper-slide .image-wrapper {
    height: 100%;
    max-height: 813px;
    width: auto;
    padding: 0 0 30px;
  }
  .swiper-slide figcaption {
    display: none;
  }
}

/* .scrollbar-track-x,
.scrollbar-track-x.show {
  opacity: 0 !important;
} */

/* .project-container section {
  flex-grow: 1;
  height: 100%;
}

section .scroll-content {
  width: 100%;
  height: 100%;
}

.project-container .image-overflow,
section .scroll-content > *:first-child {
  display: flex;
  height: 100%;
}

.project-container section .scroll-content div figure {
  margin-right: 30px;
  height: 100%;
  width: auto;
}

.project-container section .scroll-content div figure .wrapper {
  height: 93%;
  max-height: 813px;
  width: auto;
}

.project-container section .scroll-content div figure .wrapper img {
  height: 100%;
  width: auto;
}

.project-container section .scroll-content div figure .wrapper img.lazy-placeholder {
  opacity: 0;
}

.project-container section .scroll-content div figure figcaption {
  margin: 7px 0 0;
}

.project-container section .scroll-content div a {
  display: block;
  white-space: nowrap;
  align-self: center;
  text-align: center;
  flex: 0 0 auto;
  width: 197px;
  font-size: 14px;
  line-height: 14px;
}

.project-container section .scroll-content div a span {
  display: inline-block;
  width: 4px;
}

@media only screen and (max-height: 846px) {
  .project-container section .scroll-content div figure .wrapper,
  .project-container section .scroll-content div figure .image-wrapper {
    height: 100%;
    max-height: 813px;
    width: auto;
    padding: 0 0 30px;
  }
  .project-container section .scroll-content div figure figcaption {
    display: none;
  }
} */
