
.project-container {
  width: 100%;
  height: calc(100vh - 66px);
  display: flex;
  font-family: freight-text-pro, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19.5px;
  color: #000000;
  padding: 30px 28px 0;
  margin: 0;
  overscroll-behavior-y: none;
}

.project-container p:first-of-type {
  flex: 0 0 213px;
  padding: 0 20px 0 0;
}

.scrollbar-track-x, .scrollbar-track-x.show {
  opacity: 0 !important;
}

.project-container section {
  flex-grow: 1;
  height: 100%;
}

section .scroll-content {
  width: 100%;
  height: 100%;
}

.project-container .image-overflow, section .scroll-content div {
  /* flex-grow: 1; */
  display: flex;
  
  /* overflow-y: hidden; */
  height: 100%;
  /* overflow-x: scroll; */
  /* scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none; */
}

/* .project-container .image-overflow::-webkit-scrollbar {
  width: 0;
  height: 0;
} */

.project-container section .scroll-content div figure {
  display: inline-block;
  margin-right: 30px;
  height: 100%;
  width: auto;

}

.project-container section .scroll-content div figure .wrapper {
  /* flex: 1 1 40%; */
  height: 93%;
  min-height: 665px;
  max-height: 813px;
  width: auto;
}

.project-container section .scroll-content div figure .wrapper img {
  height: 100%;
  width: auto;
}

.project-container section .scroll-content div figure figcaption {
  margin: 7px 0 0;
}
